# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Compiled C extension
*.so

# Dependency directories
node_modules/
